.state-detail-state-name {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  color: #0ea5e9;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 32px;
  padding: 15px;
}
.state-details-state-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tested-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: right;
  line-height: 24px;
  color: #94a3b8;
}
.tested-text span {
  font-size: 24px;
}
.last-update-text {
  color: #cbd5e1;
  font-size: 18px;
  margin-top: 0px;
}
.case-container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  background: transparent;
  border: none;
  cursor: pointer;
  height: 25vh;
  justify-content: center;
}
.deceased-btn:hover {
  background: #212230;
}
.recovered-btn:hover {
  background: #182829;
}
.confirmed-btn:hover {
  background: #331427;
}
.active-btn:hover {
  background: #132240;
}
.active-confirmed {
  background-color: #331427;
}
.active-active {
  background: #132240;
}
.active-deceased {
  background-color: #212230;
}
.active-recovered {
  background-color: #182829;
}
.cases-count-district {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;

  color: #94a3b8;
  margin-right: 10px;
}
.district-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #94a3b8;
}
.district-container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6%;
}
.district-item {
  display: flex;
  width: 20%;
  align-items: center;
}
.card-btn {
  width: 100%;
}
