.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.footer-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #94a3b8;
}

.footer-icon {
  color: #cbd5e1;
}

.footer-icons-container {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
